@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.about-us {
  &__image {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;

    @include on-tablet {
      height: 400px;
    }

    @include on-desctop {
      height: 460px;
    }
  }

  &__container {
    @include page-grid;

    background-color: #fcfaef;
    padding-block: 48px;
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 72px;
      padding-block: 120px;
    }

    @include on-desctop {
      padding-inline: 120px;
    }

    &__title {
      grid-column: 1 / -1;
      margin-bottom: 24px;

      @include on-tablet {
        grid-column: 1 / 4;
      }

      @include on-desctop {
        grid-column: 1 / 7;
      }
    }

    &__content {
      grid-column: 1 / -1;
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.15px;

      @include on-tablet {
        grid-column: 4 / 7;
      }

      @include on-desctop {
        grid-column: 8 / -1;
      }
    }
  }
}
