@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.contuct-us {
  &__content {
    display: grid;
    row-gap: 48px;

    @include page-grid;
  }

  &__form {
    display: grid;

    @include page-grid;

    grid-column: 1 / -1;
    row-gap: 16px;

    @include on-desctop {
      grid-column: span 6;
    }

    &--input {
      box-sizing: border-box;
      background-color: #f9f9f9;
      padding: 14px 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.15px;
      text-align: left;
      color: #7e7e83;
      border: 1px solid transparent;
      border-radius: 8px;
      resize: none;
      cursor: pointer;

      grid-column: 1 / -1;

      &:hover {
        color: $main-text-color;
        border: 1px solid #dbdbdb;
      }

      &:focus {
        border: 2px solid #f98921;
        outline: none;
      }
    }

    &--textarea {
      box-sizing: border-box;
      min-height: 148px;
      background-color: #f9f9f9;
      padding: 14px 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.15px;
      text-align: left;
      color: #7e7e83;
      border: 1px solid transparent;
      border-radius: 8px;
      resize: none;
      cursor: text;

      grid-column: 1 /-1;

      margin-bottom: 16px;

      &:hover {
        color: $main-text-color;
        border: 1px solid #dbdbdb;
      }

      &:focus {
        border: 2px solid #f98921;
        outline: none;
      }
    }

    &--button {
      @include button;
      
      grid-column: 1 / -1;

      background-color: $main-text-color;

      cursor: pointer;

    }
  }

  &__contacts {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #9393a3;

    display: grid;
    row-gap: 24px;

    @include page-grid;

    grid-column: 1 / -1;
    align-self: start;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desctop {
      grid-column: 8 / -1;
    }

    &--block {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desctop {
        grid-column: 1 / -1;
      }
    }

    &--title {
      font-size: 14px;
      margin: 0;
      padding-bottom: 8px;
    }

    &--description {
      font-size: 16px;
      color: #191919;
      margin: 0;
      text-decoration: none;

      & a{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
